{% extends 'base_detail_list.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-商品详情{% endblock title %}

{% block main_content %}
<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#">{{ sku.type.name }}</a>
    <span>></span>
    <a href="#">商品详情</a>
</div>

<div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>

    <div class="goods_detail_list fr">
        <h3>{{ sku.name }}</h3>
        <p>{{ sku.desc }}</p>
        <div class="prize_bar">
            <span class="show_pirze">¥<em>{{ sku.price }}</em></span>
            <span class="show_unit">单  位：{{ sku.unite }}</span>
        </div>
        <div class="goods_num clearfix">
            <div class="num_name fl">数 量：</div>
            <div class="num_add fl">
                <input type="text" class="num_show fl" value="1">
                <a href="javascript:;" class="add fr">+</a>
                <a href="javascript:;" class="minus fr">-</a>
            </div>
        </div>
        <div>
            <p>商品库存:&<b>{{ sku.stock }}</b></p>
        </div>
        <div>
            <p>其他规格</p>
            <ul>
                {% for sku in same_spu_skus %}
                    <li><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="total">总价：<em>16.80元</em></div>
        <div class="operate_btn">
            {# 如果是在表单中的话, 表单会自动帮我们提交,但是这里我们需要自己获取再提交#}
            {% csrf_token %}
            <a href="javascript:;" class="buy_btn">立即购买</a>
            <a href="javascript:;" class="add_cart" sku_id="{{ sku.id }}" id="add_cart">加入购物车</a>
        </div>
    </div>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {% for sku in new_skus %}
                <li>
                    <a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.image.url }}"></a>
                    <h4><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></h4>
                    <div class="prize">￥{{ sku.price }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <ul class="detail_tab clearfix">
            <li class="active">商品介绍</li>
            <li>评论</li>
        </ul>

        <div class="tab_content">
            <dl>
                <dt>商品详情：</dt>
                {# 富文本类型关闭转义,使用|safe, 也可以使用 autoescape on #}
                {% autoescape on %}
                {% endautoescape %}
                <dd>{{ sku.goods.detail|safe }}</dd>
            </dl>
        </div>
         <div class="tab_content">
            {# 显示评论内容, 一级一级地找上去order.order.user.username #}
            <dl>
                {% for order in sku_orders %}
                <dt>评论时间：{{ order.update_time }}&nbsp;&nbsp;用户名:{{ order.order.user.username }}</dt>
                <dd>{{ order.comment }}</dd>
                {% endfor %}
            </dl>
        </div>

    </div>
</div>
{% endblock main_content %}

{% block bottom %}
    <div class="add_jump"></div>
{% endblock bottom %}

{% block bottomfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript">
    update_sku_amount()
    // 计算商品的小计
    function update_sku_amount() {
        // 获取商品的数量和价格
        count = $('.num_show').val();
        price = $('.show_pirze').children('em').text();
        // 计算小计,字符串要转换成为浮点数和整数
        amount = parseFloat(price) * parseInt(count);
        // 设置商品的小计,toFixed()函数保存数量后面的两位小数,需要加上单位
        $('.total').children('em').text(amount.toFixed(2)+'元');
    }
    // 商品数量增加
    $('.add').click(function () {
        // 获取商品的数量
        count = $('.num_show').val();
        // 增加1
        count = parseInt(count)+1;
        // 重新设置商品的数量
        $('.num_show').val(count);

        // 重新计算小计
        update_sku_amount();
    })
    // 商品的数量减少
    $('.minus').click(function () {
        // 获取商品的数量
        count = $('.num_show').val();
        // 增加1
        count = parseInt(count)-1;
        // 校验商品的数量, 小于0的直接设置为1
        if (count <= 0){
            count = 1
        }
        // 重新设置商品的数量
        $('.num_show').val(count);

        // 重新计算小计
        update_sku_amount();
    })
    // 手动输入,使用失去焦点的blur()函数
    $('.num_show').blur(function () {
        // 获取当前输入框的值
        count = $(this).val();
        // 校验count是否合法isNaN函数校验是否是数字, 不合法的值全部设置为1
        if (isNaN(count)||count.trim().length == 0||parseInt(count)<=0){
            count = 1;
        }
        // 转换成为整数是为了让用户合理购买
        $('.num_show').val(parseInt(count));
        update_sku_amount();
    })

    var $add_x = $('#add_cart').offset().top;
    var $add_y = $('#add_cart').offset().left;

    var $to_x = $('#show_count').offset().top;
    var $to_y = $('#show_count').offset().left;

    // 这是添加到购物车的一个动画
    $('#add_cart').click(function () {
        // 获取商品的id和商品的数量,attr()是获取自定义属性,获取一个html原有的属性使用prop
        sku_id = $(this).attr('sku_id');
        count = $('.num_show').val();
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        // alert(sku_id +":"+count);
        // 组织参数
        params = {'sku_id':sku_id, 'count':count, 'csrfmiddlewaretoken':csrf}
        // 发起ajax post请求, 访问/cart/add, 传递参数:sku_id  count, 如果不加CSRF隐藏域 csrf_token 并获取传递验证会报错403
        // data: 是返回的Ajax数据
        $.post('/cart/add/', params, function (data) {
            if (data.res == 5){
                // 添加成功显示动画
                $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})
                $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7},
                    "fast", function () {
                        $(".add_jump").fadeOut('fast', function () {
                            $('#show_count').html(data.total_count);
                        });

                });
            }else{
                //添加失败,弹出提示框,必须使用data打点,才能显示出提示信息
                alert(data.errmsg);
            }
        })


    })
</script>
{% endblock bottomfiles %}